.home-wrapper {
    display: flex;
    max-height: 40rem;
}

.home-image {
    width: 60rem;
}

.home-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
}

.home-right-offer {
    font-size: 3rem;
    font-weight: 800;
}

.home-link  {
    width: 50%;
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.6rem;
    text-decoration: none;
}

  .home-link a {
    text-decoration: none;
    color: var(--black-color);
}
a:hover{
    color: var(--white-color);
}
