@import url('/Css/header.css');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
:root{
    font-family: 'Lobster', cursive;
    --primary-color:#8b5cf6;
    --white-color:white;
    --black-color:black;
}